html,
body {
  font-size: 16px;
  font-family: "aptly", sans-serif;
  font-weight: 700;
  font-style: italic;
  background-color: rgb(155, 222, 255);
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

#app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

#game-board {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: rgb(248, 243, 97);
  position: relative;
  top: -51px;
  box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.616);
  padding: 13px;
  border-radius: 25px;
}

#game-board td {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  padding: 0;
  margin: 6px;
  background-color: rgb(155, 222, 255);
  box-shadow: inset 2px 2px 10px rgba(128, 128, 128, 0.616);
}

#column-top td {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: relative;
  top: -60px;
  padding: 0;
  margin: 70px 8px 0 8px;
}

#column-top td::before {
  content: url(arrow-down.svg);
  display: inline-block;
  position: relative;
  left: 6px;
  top: 6px;
}

#replay-btn {
  position: relative;
  top: -30px;
  background-color: transparent;
  border: none;
  padding: 1px 30px;
  border-radius: 5px;
}

#replay-btn img {
  width: 70px;
  transition: background-color 0.3s ease-in-out;
  border-radius: 60px;
}

#replay-btn img:hover {
  background-color: rgba(248, 243, 97);
  cursor: pointer;
}
.piece {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.p1 {
  background-color: #e507ab;
}

.p1::before {
  content: url(star.svg);
  position: relative;
  top: 8px;
  left: 9px;
}

.p2 {
  background-color: #364144;
}
.p2::before {
  content: url(moon.svg);
  background-size: cover;
  position: relative;
  top: 8px;
  left: 9px;
}

.star-cursor {
  cursor: url("star-cursor.svg"), pointer;
}

.moon-cursor {
  cursor: url("moon-cursor.svg"), pointer;
}
